span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 70px;
}

.selected {
    background-color: #EEE;
    color: #DDD;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}

img {
    height: 200px;
    width: 100px;
}

body{
    background: url("./cards/table.png");
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}

div.clock{
    position: fixed;
    right: 100px;
    font-size: 24px;
    color: black;
}